*{
 margin :0;
 padding:0;   
} 

.main
{
width : 100%;
background: url(b1.jpg);
background-position:top;
background-size:cover;
height: 100vh;
position:fixed;
font-family:sans-serif;
}

.navbar{
    width: 98%;
    display: flex;
    margin:auto;
    padding:15px 0;
    align-items :center;
    justify-content: space-between;
}

.navbar .logo{
    width: 600px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: -1%;
    }
	
	ul {
        margin-top: 2%;
        position:relative;
        }
    
    ul li {
                list-style:none;
                display: inline-block;
                 padding: 15px 10px;
             }
      
    ul li a{
                font-size:25px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-weight: bold;
                text-decoration:solid;
                color:black;
                margin-top: 2%;
            }

    ul li a:hover{
				color:white;
         
            }
			
.image {
        width: 30%;
        height: 60%;
        position: absolute;
        right: 100px;
        bottom:0;
    }
	
.image img{
        position:absolute;
        height: 120%;
        left: 40%;
        transform: translate(-40%);
        bottom: 1;
    }
  
.info{

    margin-left:7%;
    margin-top: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.info h1{
    font-size: 55px;
    letter-spacing: 1px;
    line-height: 60px;
    color :black;
    font-style: initial;
}

.info h2{
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 60px;
    color: black;
    }
	
.info h3{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 47px;
}
.info h4{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 26px;
   }
    
     h4 a{
        color:black;
    }
     h4 a :hover {
        color:white;
    }
	
.info a{

        text-decoration: none;
        color:aliceblue;
        background: black;
        margin: 40px 0;
        border-radius: 20px;
        display: inline-block;
    }

.info span {
        color:white;
    }
